.container{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: rgb(128, 127, 127);
    margin-bottom: 7px;
    
}
.switch{
    display: flex;
    align-items: center;
}
.text{
    padding-left: 10px;
    padding-right: 15px;
    cursor: pointer;
}
.container:first-child{
    margin-top: 2rem;
}
.container:hover{
    transition: 400ms;
    background-color: #c4bebe6c;
}
.checkbox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border: 1px solid rgb(129, 127, 127);
    border-radius: 4px;
    background-color: white;
    
}

.checkbox:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 11px;
    opacity: 0;
    transition: all 300ms ease-in-out;
    border-right: 3px solid;
    border-bottom:  3px solid;
    transform: rotate(45deg);
    color: rgb(81, 235, 81);
    top: 1px;
}
.checkbox:checked:before{
    opacity: 1;
}
.checkbox:checked + span {
    color: rgb(26, 224, 85);
    transition: 700ms ;
    text-decoration: line-through;
}
.checkbox:focus{
    box-shadow: 0 0 4px #000;
}