.container{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    color: rgb(128, 127, 127);
    margin-bottom: 10px;
    height: 40px;
}
.switch{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.trash{
    cursor: pointer;
}
.text{
    padding-left: 5px;
    padding-right: 80px;
    min-width: 160px;
    font-weight: 500;
}
.container:first-child{
    margin-top: 1rem;
}
.container:hover{
    transition: 400ms;
    background-color: #c4bebe6c;
}
.checkbox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 4px;
    background-color: white;
    
}

.checkbox:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 12px;
    opacity: 0;
    transition: all 300ms ease-in-out;
    border-right: 3px solid;
    border-bottom:  3px solid;
    transform: rotate(45deg);
    color: rgb(11, 187, 11);
    top: 1px;
}
.checkbox:checked:before{
    opacity: 1;
    transition: all 300ms ease-in-out; ;
}
.checkbox:checked + span {
    color: rgb(11, 187, 11);
    text-decoration: line-through;
    transition: all 400ms ease-in-out; ;
    
}
.checkbox:focus{
    box-shadow: 0 0 5px #000;
}