body{
    background-color: #e9e7e7;
}
.input {
    position: relative;
    left: 48%;
    transform: translate(-50%,-30%);
    border: none;
    font-size: 1rem;
    color: rgb(121, 121, 121);
    border-radius: 3px;
    padding: 8px 8px;
    height: 24px;
    width: 240px;
}
.button {
    position: relative;
    left: 48%;
    transform: translate(-290%,-17.5%);
    cursor: pointer;
    border: none;
    border-radius: 0px 3px 3px 0px;
    padding: 7px 15px;
    background-color: #ffff;
    font-size: 1.6rem;
    height: 40px;
    border-left: 0.3px solid;
    color: rgb(172, 172, 172);
}
.button:hover{
    background-color: #c4c4c4;
    color: rgba(94, 92, 92, 0.726);
}