body{
    background-color: #ecebeb;
}
.input {
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translate(-50%,-50%);
    border: none;
    margin-bottom: 2%;
    font-size: 1.2rem;
    border-radius: 3px;
    padding: 8px 8px;
    height: 24px;
}
.button {
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translate(230%,-50%);
    cursor: pointer;
    border: none;
    border-radius: 0px 3px 3px 0px;
    padding: 7px 15px;
    background-color: #ffff;
    font-size: 1.6rem;
    height: 40px;
    
    color: rgb(172, 172, 172);
}
.button:hover{
    background-color: #c4c4c4;
    color: rgba(94, 92, 92, 0.726);
}
