body{
    background-color: #f5f5f5;
}
p{
    text-align: center;
    font-style: normal;
    font-size: 0.8rem;
    padding-top: 1.5%;
    font-family: 'Lato', sans-serif;
}
b{
    font-weight: normal;
}
header{
    background-color: #2e9bd1;
    height: 130px;
    color: white;
    padding: 0 30px 30px 30px;
}
.section{
    display: flex;
    margin-top: 3%;
    
    justify-content: space-between;
    align-items: center;
}
.todo{
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
}
.tarefas{
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}